<div class="jumbotron">
  <h2>Can I afford to spend</h2>
  <div class="form-group">
                  <div class="input-group narrow">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                  </div>
                </div>
  <p class="lead">without breaking bank?</p>
  <p><a class="btn btn-lg btn-primary" href="#" role="button">Find Out</a></p>
</div>